<section data-ng-controller="HomeController">
	<div class="jumbotron">
		<div align="center"><img alt="logo" src="modules/core/img/brand/logo.png" /></div>
		<h1>Sprout App</h1>
		<p class="lead">Example</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			Vivamus sed blandit ante. Donec et porttitor tellus, et molestie
			urna. Aliquam hendrerit elit arcu, a sollicitudin ligula consequat
			sit amet. Vivamus ut nulla libero. Nam aliquet bibendum nulla sit
			amet iaculis. Aliquam mauris sem, venenatis nec lectus nec, luctus
			malesuada elit. Pellentesque malesuada, dolor quis mattis posuere,
			nulla massa blandit lectus, ac venenatis dui enim eu dolor.</p>
		<p>Nullam id vulputate diam. Duis et est bibendum, egestas quam
			eu, imperdiet libero. Quisque tempus vel odio in euismod. Nulla
			tempor maximus diam, sed consectetur velit. Nunc semper placerat
			lacus. Nam sit amet lacus a odio tempus gravida. Suspendisse potenti.
			Proin ac elementum purus, at pharetra ante. Nulla auctor justo ut
			diam tincidunt, et malesuada mauris viverra. Integer feugiat
			tincidunt erat, nec pellentesque diam finibus quis.</p>
		<p>Duis consectetur felis at ex venenatis, vitae bibendum lacus
			convallis. Vestibulum tempus in neque vitae fringilla. Cras quis eros
			rutrum, rhoncus lacus ac, luctus est. Integer porttitor accumsan
			diam, a auctor leo tincidunt in. Maecenas magna ipsum, aliquam sed
			imperdiet at, euismod et lorem. Duis tincidunt neque sit amet turpis
			sodales tristique.</p>
	</div>

</section>